<ng-container *ngIf="!!currentVideo; else unknownStream">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <video title="{{currentVideo?.title}}" width="900" controls autoplay>
                <source src="https://localhost:7229/api/Stream/File?fileName={{getVideoFileName(currentVideo?.videoFileUrl)}}">
            </video>
            <h3>{{currentVideo.title}}</h3>
            <p>{{currentVideo.description}}</p>
            <p>Category: {{currentVideo.videoCategory.category}}</p>
        </div>
        <div class="col-2"></div>
    </div>
</ng-container>
<ng-template #unknownStream>
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <ng-container *ngIf="!errorMessage; else errorMessageTemplate">
                <p>Loading video...</p>
            </ng-container>
            <ng-template #errorMessageTemplate>
                <p>An error occured while trying to play your video.</p>
                <p>{{errorMessage}}</p>
            </ng-template>
        </div>
        <div class="col-2"></div>
    </div>
</ng-template>