<ng-container *ngIf="videos.length > 0; else noVideos">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div *ngFor="let video of videos">
                <div class="row" (click)="navigateToVideo(video.id)">
                    <div class="col-6 align-self-center">
                        <video title="{{video.title}}" width="256" height="256">
                            <source src="https://localhost:7229/api/Stream/File?fileName={{getVideoFileName(video.videoFileUrl)}}">
                        </video>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4 align-self-center">
                        <h3>{{video.title}}</h3>
                        <p>{{video.description}}</p>
                        <p>Category: {{video.videoCategory.category}}</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-2"></div>
    </div>
</ng-container>
<ng-template #noVideos>
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-8">
            <!-- <p>Loading your videos...</p> -->
             <ng-container *ngIf="errorMessage; else loadingVideosTemplate">
                <p>An error occured while loading your videos.</p>
                <p>{{errorMessage}}</p>
             </ng-container>
             <ng-template #loadingVideosTemplate>
                <p>Loading your videos...</p>
             </ng-template>
        </div>
        <div class="col-2"></div>
    </div>
</ng-template>

